<form class="address-form" [formGroup]="addressForm" (ngSubmit)="onSubmit()">
  <label class="wide">
    Street address
    <input class="field" formControlName="street" type="text" placeholder="Enter street">
  </label>
  <label>
    City
    <input class="field" formControlName="city" type="text" placeholder="Enter city">
  </label>
  <label>
    State
    <input class="field" formControlName="state" type="text" placeholder="State">
  </label>
  <label>
    Postal code
    <input class="field" formControlName="postalCode" type="text" placeholder="Postal code">
    <small *ngIf="addressForm.get('postalCode')?.invalid && addressForm.get('postalCode')?.touched">Use a 6 digit PIN code.</small>
  </label>
  <label>
    Country
    <input class="field" formControlName="country" type="text" placeholder="Country">
  </label>
  <button class="btn btn-primary" type="submit" [disabled]="addressForm.invalid">Save address</button>
</form>
